{
	debug
	log {
		output stdout
		format console
	}
	order ja3 before respond
	servers {
		listener_wrappers {
			http_redirect
			ja3
			tls
		}
	}
}

localhost:2020 {
	ja3
	tls internal
	respond <<EOF
          JA3 Hash: {header.ja3-hash}
          JA3 String: {header.ja3-string}
          JA3 SNI: {header.ja3-sni}
          EOF 200
}
